.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF9EE;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.loading-bear-box{
  min-width: 638px;
  min-height: 355px;
  background-color: #3A3B61;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bear {
  width: 200px;
}

.loading-title {
  color: #3A3B61;
  margin: 0;  
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; 
  font-weight: 400;
  font-size: 100px;
  line-height: 105%;
  letter-spacing: 0%;
  }

.progress-bar-wrapper {
  width: 638px;
  height: 10px;
  background-color: #e0f0ec;
  border-radius: 4px;
  margin: 20px 0;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #34b4a0;
  transition: width 0.3s ease;
}

.loading-subtitle {
  font-size: 18px;
  color: #3A3B61;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
}

.loading-description {
  margin-top: 10px;
  font-size: 14px;
  max-width: 860px;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  color: #3A3B61;
}
