/*ParentProfileForm*/

.reg-form-container{
    width: 100%;
    height: auto;
    min-height: 100vh; 
    display: flex;                
    flex-direction: column;       
    align-items: center;         
    justify-content: center;      
    height: auto; 
    background-color: #3A3B61;
    color: #FFFAEE;
    border: 2px solid #FFFAEE;
}
.your-kids-wrapper {
  width: 100%;
  max-width: 417px; 
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 10px;
}
.your-kids-p {
  text-align: left;
  width: 100%;
  max-width: 417px;
  margin: 0 auto 10px auto;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

.step-form {
  margin-top: 20px;
  width: 100%;
  max-width: 417px;   
}

.input-field-reg {
  background-color: hsl(238, 25%, 30%) !important;
  color: #FFFAEE !important;
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  height: 46px;
  border: 2px solid #FFFAEE;
  margin-top: 0; 
  margin-bottom: 20px;
} 

.input-field-reg::placeholder {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%; 
  text-align: left;
  color: #FFFAEE;
}

.input-field-reg:focus {
  outline: none;
  border: 2px solid #4DB3AE; 
  box-shadow: 0 0 5px rgba(77, 179, 174, 0.6);
  transition: border 0.2s ease;
}

.input-error {
  border: 2px solid #4DB3AE !important;
  box-shadow: 0 0 5px rgba(77, 179, 174, 0.6);
}

.error-text {
  color: #FFFAEE;
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.required-field {
  font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
    color: #FFFAEE;
}

.name-conteiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 221px;  
}

.left-label {
  text-align: left;
}

.right-required {
  text-align: right;
  color: #fffaee;
  font-size: 18px;
  opacity: 0.8;
}

.name-input-p {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2%;
  font-size: 18px; 
  text-align: left; 
  margin-bottom: 8px;
  text-transform: uppercase;
}

.phone-wrapper {
  display: flex; 
}

.flag-icon {
  width: 85px;
  height: 46px;
  margin-left: 20px;
  border-radius: 2px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 196px;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 16px;
  transform: translateY(-50%) rotate(0deg);
  border: solid #FFFAEE;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform-origin: center;
  transition: transform 0.3s ease;
  pointer-events: none;
  transform: translateY(-30%) rotate(45deg); /* вниз */
}

.select-wrapper.open::after {
  margin-top: 5px;
  transform: translateY(-30%) rotate(-135deg); /* вверх */
}

.select-field-day {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #3A3B61;
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 95px;
  height: 46px;
  border: 2px solid #FFFAEE;
  margin-top: 0; 
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%; 
  text-align: center;
  color: #FFFAEE;
  margin-right: 20px;
}

.select-field-month { 
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #3A3B61;  
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 196px;
  height: 46px;
  border: 2px solid #FFFAEE;
  margin-top: 0; 
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%; 
  text-align: left;
  color: #FFFAEE;
  margin-right: 20px;
}

.select-field-month:hover {
  color: #FFFAEE;
  background-color: #3A3B61;
  border: 3px solid #4DB3AE;
}

.select-field-month:focus,
.select-field-day:focus,
.select-field-year:focus {
  outline: none;
  border-color: #4DB3AE;
  box-shadow: 0 0 5px rgba(77, 179, 174, 0.6);
}

.select-field-year {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  margin-left: 20px;
  background-color: #3A3B61;
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 84px;
  height: 46px;
  border: 2px solid #FFFAEE;
  margin-top: 0; 
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%; 
  text-align: center;
  color: #FFFAEE;
}

.step-next-button {
  display: flex; 
  justify-content: center;
  margin-bottom: 30px; 
}

.next-btn {
  width: 100%;
  max-width: 307px;
  min-height: 50px;
  margin-top: 20px;
  background-color: #4DB3AE;
  color: #FFFAEE;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 105%;
  letter-spacing: 0%; 
  border-radius: 30px; 
  cursor: pointer;
  transition: 0.3s; 
  margin-bottom: 5px;
  border-color: #4DB3AE;
  padding: 10px 20px;
}
.next-btn:hover {
  background-color: #FFFAEE;
  color: #4DB3AE;
  border-color: #4DB3AE;
}

.child-form-group{
max-width: 417px;
}

.child-name-conteiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 221px;
  padding-bottom: 10px; 
  max-width: 417px; 
}

.child-description-light{
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #FFFAEE;
}

.remove-child-button {
  background-color: transparent;
  color: #FFFAEE;
  border: none;
  font-size: 18px;
  font-family: 'Comfortaa', sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.input-field-child{
  background-color: hsl(238, 25%, 30%) !important;
  color: #FFFAEE !important;
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  min-width: 417px;
  height: 46px;
  border: 2px solid #FFFAEE;
  margin-top: 0; 
  margin-bottom: 20px;
}

.input-field-child::placeholder{
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%; 
  text-align: left;
  color: #FFFAEE;
}

.bd-input-p {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2%;
  font-size: 18px; 
  text-align: left; 
  margin-bottom: 8px;
  text-transform: uppercase;
}

.add-child-button{
  background-color: #FFFAEE;
  color: #3A3B61;
  border-radius: 30px;
  border: 2px solid #3A3B61;
  padding: 10px;
  gap: 10px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  text-align: center;
  width: 100%;
  max-width: 214px;
  height: auto;
  max-height: 42px; 
}

.row-fields {
  display: flex;  
  width: 100%;  
}

.field-group {
  flex: 1;
  min-width: 140px;
}

.description-light-leter {
  margin-top: -20px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  color: #FFFAEE;
  margin-bottom: 20px;
}


/*NannyProfileForm*/
.gender-selection {
  text-align: center;
  margin-bottom: 40px;  
}
.gender-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 638px;
  margin: 0 auto 20px;
}
.gender-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 638px; 
  min-height: 274px;  
  gap: 20px;
}

.gender-option {
  width: 307px;
  min-height: 274px;
  padding-top: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  max-width: 307px;
  min-height: 274px;
  gap: 10px;
  background-color: #FFFAEE;
  border-color: #3A3B61; 
  color: #3A3B61; 
}

.gender-option img {
  width: 176px;
  height: 176px;
  justify-content: center;  
}

.gender-option p {
  font-size: 18px;
  margin-top: 10px; 
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
}

.gender-option:hover, 
.gender-option.selected {
  background-color: #3A3B61;
  border-color: #3A3B61;
  color: #FFFAEE;
}

.specialization-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    top: 137px;
    left: 291px;
    display: flex;                
    flex-direction: column;       
    align-items: center;          
    justify-content: center;     
    height: auto; 
    background-color: #3A3B61; 
    color: #FFFAEE;
    border: 2px solid #FFFAEE;
}

.specialization-selection {
  text-align: center;
  margin-bottom: 20px;
}

.specialization-label-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
  max-width: 900px;
}

.left-text { 
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -2%;
  text-transform: uppercase;
}
.right-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: right;
}

.options-col {
  display: flex;                
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
}

.add-education-btn {  
  width: 100%;
  max-width: 210px;
  height: 42px;
  padding: 10px 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px;
}

.education-block {
  max-width: 416px;
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 10px;
  position: relative;
}

.education-header {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #FFFAEE;
  letter-spacing: -2%;
  margin-bottom: 5px;
}

.remove-education-btn {
  background-color: transparent; 
  color: #FFFAEE;
  border: none;
  font-size: 20px;
  font-family: 'Comfortaa', sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;  
}

.education-input{
  background-color: #FFFAEE !important;
  color: #3A3B61 !important;
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 417px;
  height: 46px;
  border: 2px solid #FFFAEE;
  margin-top: 0; 
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
}

.education-input::placeholder {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%; 
  text-align: left;
  color: #3A3B61;
}

.education-input:focus {
  outline: none;
  border: 2px solid #4DB3AE; 
  box-shadow: 0 0 5px rgba(77, 179, 174, 0.6);
  transition: border 0.2s ease;
}

.years-row {
  display: flex;
  gap: 10px;
  max-width: 417px;
  justify-self: center;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #FFFAEE;
  padding: 8px 12px;
  border-radius: 30px;
  color: #FFFAEE;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  max-width: 307px;
  height: 46px;
 
}

.custom-file-upload input[type="file"] {
  display: none;
}

.camera-icon {
  font-size: 18px;
}

.custom-file-upload:focus {
  outline: none;
  border: 2px solid #4DB3AE; 
  box-shadow: 0 0 5px rgba(77, 179, 174, 0.6);
  transition: border 0.2s ease;
}

.options-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
  justify-content: center;
  max-width: 1090px;
}

.description-label {
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  color: #FFFAEE;
}

.option-pill {
  background-color: #FFFAEE;
  border: 2px solid #3A3B61;
  border-radius: 30px;
  padding: 10px 20px;
  color: #3A3B61;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
}

.option-pill.selected {
  background-color: #3A3B61;
  color: #FFFAEE;
  border-color: #FFFAEE;
}
.option-with-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
  margin: 10px;
}

.option-description {
  font-size: 18px;
  color: #FFFAEE;
  text-align: center;
  margin-top: 6px;
  line-height: 1.2;
  font-family: 'Comfortaa', sans-serif;
  margin-top: -8px;
}

.options-row-lang{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
  justify-content: center;
  max-width: 620px;
}

.lang-description {
  font-size: 18px;
  color: #FFFAEE;
  text-align: center;
  margin-top: 6px;
  line-height: 1.2;
  font-family: 'Comfortaa', sans-serif;
}

.lang-form-wrapper {
  position: relative;
  width: 100%;
  max-width: 417px;
 justify-self: center;
  margin-top: 10px;
}

.lang-input-with-btn {
  width: 100%;
  height: 47px;
  background-color: #3A3B61;
  color: #FFFAEE;
  border: 2px solid #FFFAEE;
  border-radius: 30px;
  padding: 10px 50px 10px 20px; /* Права відстань для кнопки */
  font-size: 16px;
  font-family: 'Comfortaa', sans-serif;
  outline: none;
  transition: 0.3s ease;
}

.remove-lang-btn-inside {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  color: #FFFAEE;
  cursor: pointer;
  font-family: 'Comfortaa', sans-serif;
  padding: 0;
  line-height: 1;
}

.slider-container {
  margin-top: 100px;
  text-align: center;
  position: relative; 
  max-width: 638px;
  margin-left: auto;
  margin-right: auto;
}

.bear-head {
  background: url('../assets/bear.png') no-repeat center center;
  background-size: contain;  
  position: absolute;
  top: -70px;
  width: 122px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: left 0.3s ease;
}

.bear-value {
  font-size: 20px;
  font-family: "Comfortaa", sans-serif;
  text-transform: uppercase;
  color: #FFFAEE; 
  white-space: nowrap;
  text-align: center;
  padding-top: 19px;
}

.experience-slider {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  background: #449E9A33; 
  border-radius: 6px;
  outline: none;
}

.experience-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4DB3AE;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
}

.experience-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4DB3AE;
  border-radius: 50%;
  cursor: pointer;
}

.slider-labels-top {
  display: flex;
  justify-content: space-between;
  min-width: 730px;
  margin-bottom: -35px;
  margin-left: -35px;
  font-size: 64px;
  color: #FFFAEE;
  font-family: 'Oswald', sans-serif;
  padding: 0 5px;
  margin-left: -40px;
}

.slider-labels-top-money {
  display: flex;
  justify-content: space-between;
  min-width: 730px;
  margin-bottom: -35px;
  margin-left: -35px;
  font-size: 64px;
  color: #FFFAEE;
  font-family: 'Oswald', sans-serif;
  margin-right: -100px;  
}

.experience-slider-money {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  background: #449E9A33; 
  border-radius: 6px;
  outline: none;
}


.experience-slider-money::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4DB3AE;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
}

.experience-slider-money::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4DB3AE;
  border-radius: 50%;
  cursor: pointer;
}

/* 🔹 АДАПТИВНІСТЬ */

/* Для планшетів */
@media (max-width: 768px) {
  .step-form,
  .input-field-reg,
  .next-btn,
  .child-form-group {
    max-width: 100%;
  }

  .gender-btn {
    flex-direction: column;
    gap: 20px;
  }

  .slider-labels-top,
  .slider-labels-top-money {
    font-size: 48px;
    margin: 0;
    min-width: 100%;
  }
}
 /* Для мобільних телефонів */
 @media (max-width: 480px) {
  .reg-form-container,
  .specialization-container {
    padding: 20px;
    border: none;
  }

  .step-form,
  .input-field-reg,
  .select-field-day,
  .select-field-month,
  .select-field-year,
  .next-btn {
    max-width: 100%;
    font-size: 16px;
  }

  .name-conteiner {
    flex-direction: column;
  }

  .child-form-group {
    flex-direction: column;
    gap: 10px;
  }

  .gender-btn {
    flex-direction: column;
    align-items: center;
  }

  .gender-option {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    padding: 20px;
  }

  .slider-labels-top,
  .slider-labels-top-money {
    font-size: 32px;
    min-width: auto;
    margin: 0;
    justify-content: space-between;
  }

  .slider-container {
    padding: 0 10px;
  }
}
