.profile-container {    
    width: 100%;
    height: auto;
    min-height: 100vh; 
    background-color: #3A3B61;
}

.profile-container p, ul {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%; 
    text-align: left;
    color: #FFFAEE;
    margin-left: 10px;
    margin-bottom: 10px;
}

  