.page-container {
  display: flex;
  flex-direction: column; 
}

.report-page { 
  flex: 1;
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px 60px 20px 40px;
  }

  .title-report{  
    align-self: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 105%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3A3B61;
  }

  .report-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;   
  }

  .report-info h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3A3B61;
    margin-bottom: 10px;
  } 

  .report-info {
    margin-bottom: 20px;
  }

  .text-admin {
      font-family: 'Comfortaa', sans-serif; 
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -2%;
      color: #3A3B61;
      margin-top: 40px;
  }
  
  .text-nanny-name {
    font-family: 'Comfortaa', sans-serif; 
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;   
    color: #3A3B61;
    margin-top: 10px;
  }
  .name-nanny-report {
    font-family: 'Comfortaa', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #3A3B61;
    margin-left: 20px; 
  }
  .name-role-report{
    font-family: 'Comfortaa', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #3A3B61;
    margin-left: 130px; 
  }

  .report-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .report-title-row h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3A3B61; 
  }
  
  .required-label {
    color: #3A3B61;
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: right;
    margin-top: 40px;
  }
  .report-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }  

  .report-form {
    margin-bottom: auto; 
   } 

   .form-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;  
  }
  
  .report-form {
    width: 100%;
    max-width: 638px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  

  .radio-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #ccc; 
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    margin-bottom: 12px;
    cursor: pointer;
    flex-direction: row-reverse; 
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #3A3B61;
  }
  
  
  .radio-option input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3A3B61;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 12px;
    cursor: pointer;
    position: relative;
  }
  
  .radio-option input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #3A3B61;
    border-radius: 50%;
  }

  .situation-title{   
    text-align: left !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3A3B61;
    margin-bottom: 10px;
  }

  .textarea-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.textarea-block {
  width: 100%;
  /* max-width: 1299px; */
  display: flex;
  flex-direction: column;
}

.textarea-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.textarea-header h3 {
  margin: 0;
  font-size: 20px;
  color: #3A3B61;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.required-label {
  font-size: 16px;
  color: #3A3B61;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: right;
}
/* Контейнер для центрування textarea */
.textarea-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 12px;
  box-sizing: border-box;
}

/* Стилізація textarea */
.textarea-container textarea {
  width: 100%;
  padding: 12px;
  padding-bottom: 36px; 
  min-height: 371px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  resize: vertical;
  background-color: #EBE6DB;
  box-sizing: border-box;
}

/* Лічильник всередині textarea */
.char-counter {
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-size: 14px;
  color: #3A3B61CC;
  pointer-events: none;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: right;
}
.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.submit-report-btn {
  padding: 12px 24px;
  background-color: #4DB3AE;
  color: #FFFAEE;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
  
  .submit-report-btn:hover {
    background-color: #FFFAEE;
    color: #4DB3AE;
    border: 2px solid #4DB3AE;
  }  


  /* Модальне вікно */
  .bear-modal-overlay-report {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bear-modal-report {
    position: relative;
    width: 638px;
    height: 311px;
    background-color: #F9D8E0;
    border-radius: 20px;
    /* padding: 40px; */
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  }
  
  .ear-report {
    width: 198px;
    height: 198px;
    background-color: #F9D8E0;
    border-radius: 50%;
    position: absolute;
    top: -99px;
  }
  
  .left-ear-report {
    left: -99px;
  }
  
  .right-ear-report {
    right: -99px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-btn-report {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .modal-content-report {
    background-color: #F9D8E0;
    min-width: 632px;
    max-height: 315px;
  }
  
  .modal-content-report h2 {
    margin-top: 20px;   
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 105%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #3A3B61;
  }
  
  .modal-content-report p {
    margin: 20px 0;  
    line-height: 1.5;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
    color: #3A3B61;
  }
  
  .go-back-btn-report {
    background-color: #3A3B61;
    color: #FFFAEE;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 370px;
    height: 42px;
  }
  

  @media (max-width: 768px) {
    .report-info-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .text-admin {
      text-align: left;
    }
  }
   