.header {
    height: 58px;
    width: 100%;
  }
  
  .header .overlap-group-3 {
    height: 58px;
    position: relative;
  }
  
  .header .menu {
    background-color: #fffaee;
    height: 58px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .header .primary-button-instance {
    left: auto;  
    /*right: 20px; */
    left: 1285px;
    position: absolute !important;
    top: 8px !important;
  }
  
  .header .secondary-button-instance {
    left: auto;
    /*right: 140px;*/
    left: 1102px;
    position: absolute !important;
    top: 8px !important;
  }
  
  .header .h-hyperlink {
    left: 401px !important;
    position: absolute !important;
    top: 17px !important;
  }
  
  .header .h3-hyperlink {
    left: 622px !important;
    position: absolute !important;
    top: 17px !important;
  }
  
  .header .hyperlink-instance {
    left: 843px !important;
    position: absolute !important;
    top: 17px !important;
  }
  
  .header .logonannybear {
    display: block;
    height: 50px;
    left: 40px;
    position: absolute;
    top: 4px;
    width: 154px;
  }
  
  .header .logonannybeargrid {
    height: 39px;
    overflow: hidden;
    position: relative;
    top: 5px;
  }
  
  .header .logo-wrapper {
    height: 39px;
    left: 6px;
    position: relative;
    width: 143px;
  }
  
  .header .logo {
    height: 39px;
    position: relative;
  }

  .header .ICON {
    height: 39px; 
    width: auto;  
    left: 0;
    position: absolute;
    top: 0;
    object-fit: contain; 
    max-width: 100%;
}
  
  .header .nanny-bear {
    height: 14px;
    left: 45px;
    position: absolute;
    top: 11px;
    width: 98px;
  }
  

  /* ------ */

  