.header {
  height: 58px;
  width: 100%;
}

.header .overlap-group-3 {
  height: 58px;
  position: relative;
}

.header .menu {
  background-color: #fffaee;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header .primary-button-instance {
  left: auto;
  left: 1285px;
  position: absolute !important;
  top: 8px !important;
}

.header .secondary-button-instance {
  left: auto;
  left: 1102px;
  position: absolute !important;
  top: 8px !important;
}

.header .h-hyperlink {
  left: 401px !important;
  position: absolute !important;
  top: 17px !important;
}

.header .h3-hyperlink {
  left: 622px !important;
  position: absolute !important;
  top: 17px !important;
}

.header .hyperlink-instance {
  left: 843px !important;
  position: absolute !important;
  top: 17px !important;
}

/* Show links on desktop or bigger screens - default */
.desktop-only {
  display: block;
}

.logo img {
  content: url('/public/assets/LogoNannyBear11.png');
}

/* Tablet (iPad size) */
@media (max-width: 1440px) {
  .primary-button-instance,
  .secondary-button-instance {
    left: auto !important;
    right: 20px;
    top: 8px;
  }

  .secondary-button-instance {
    right: 140px;
  }

  .logonannybear {
    left: 20px !important;
  }
  
  .desktop-only {
    display: none;

  }
}

/* Mobile (Android 412px and smaller) */
@media (max-width: 412px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1px;
    padding: 4px 8px;
    height: auto !important;
    position: static !important;
    width: auto !important;
  }

  .secondary-button-instance button {
    right: 100px;
  }

  .overlap-group-3 {
    height: auto;
  }

  .logo img {
    content: url('/public/assets/LogoNannyBearMobile.png');
  }

}

.header .logonannybear {
  display: block;
  height: 50px;
  left: 70px;
  position: absolute;
  top: 4px;
  width: 154px;
}

.header .logonannybeargrid {
  height: 39px;
  overflow: hidden;
  position: relative;
  top: 5px;
}

.header .logo-wrapper {
  height: 39px;
  left: 6px;
  position: relative;
  width: 143px;
}

.header .logo {
  height: 39px;
  position: relative;
}

.header .ICON {
  height: 39px;
  width: auto;
  left: 0;
  position: absolute;
  top: 0;
  object-fit: contain;
  max-width: 100%;
}

.header .nanny-bear {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 11px;
  width: 98px;
}
.hyperlink-instance {
  margin-left: 70px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  color: #3A3B61;
  border: none;
  text-decoration: none; /* ⛔️ Забираємо підкреслення за замовчуванням */
}

.hyperlink-instance:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px; /* або 1px — регулюй */
  text-underline-offset: 4px; /* відступ підкреслення від тексту */
}



